# VIRTUAL_ENV 告诉工具：这是环境的根目录
export VIRTUAL_ENV="$(pwd)/.venv" 

# PYTHONPATH 告诉 Python：去这个目录找包
export PYTHONPATH="$VIRTUAL_ENV/lib/python3.11/site-packages:$PYTHONPATH"

#source .venv/bin/activate

layout uv
